<section class="container bg-white my-2">
  <article class="row">
    <div class="col-4 bg-light text-center">
      <figure class="my-2 p-2">
        <img
          src="{{trimString payload.emp_photo.0.path}}"
          alt="{{payload.emp_name}}"
          class="img-thumbnail p-2 w-100"
        />
      </figure>
    </div>
    <div class="col-8 bg-light text-left">
      <h1>{{payload.emp_email}}</h1>
      <hr class="my-4" />
      <div class="text-left">
        <p>{{payload.emp_id}}</p>
        <p>{{payload.emp_salary}}</p>
        <p>{{payload.emp_location}}</p>
        <p>{{payload.emp_experince}}</p>
        <p>{{payload.emp_designation}}</p>
        <p>{{payload.emp_edu}}</p></div>
      {{#if user}}
        <div class="d-flex justify-content-end">
          <a
            class="btn btn-secondary mx-3 px-5 rounded-0"
            href="/employee/edit-emp/{{payload._id}}"
          >Edit</a>
          <form
            class="float-right text-danger"
            method="post"
            action="/employee/delete-emp/{{payload._id}}?_method=DELETE"
          >
            <input type="hidden" name="_method" value="DELETE" />
            <button class="btn btn-danger mx-3 px-5 rounded-0">delete</button>
          </form>
        </div>
      {{else}}
      {{/if}}
    </div>

  </article>
</section>